// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Variable
$greenColor: #20D1A8;
$whiteColor: #fefefe;
$blueColor: #463BFB;
$yellowColor: rgb(255, 205, 86);
$lightBlueColor: #6690FF;
$bgColor: #F2F5FA;
$sidenavWidth: 250px;

// Global
body {
  background-color: $bgColor;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

figcaption {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 600;
}

// Button
button {
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
}

.button {
  // &__sort {
  //   color: $blueColor;
  // }
}

// Layout
.main {
  margin-left: $sidenavWidth;
  padding: 20px 40px;
}


// Sidenav
.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: $sidenavWidth;
  background-color: $blueColor;
  padding: 20px 40px;
  color: $whiteColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  a {
    color: $whiteColor;
  }
}

.menu {
  list-style-type: none;

  &__link {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
  }
}



.content {
  padding: 0;
  // margin-left: 250px;
  padding-left: 250px;
}

.dashboard {
  gap: 40px;
  padding: 40px;

  
}

// Navbar
.navbar {
  padding: 20px;
  // background-color: $lightBlueColor;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.user {
  display: flex;
  justify-content: center;

  &__avatar {
    height: 50px;
    width: 50px;
    background-color: $blueColor;
    border-radius: 50%;
    margin-left: 40px;

    .fi {
      color: #fff;
    }
  }
}

.section {
  background-color: #fff;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 10px 2px 80px rgba(0,0,0,0.1);

  &__title {
    margin-bottom: 20px;
  }

  &__table {
    margin-top: 40px;
  }

  &__stacked {
    margin-top: 20px;
    height: auto;
  }

  &__circle {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__custom {
    background-color: #20D1A8;
    border-radius: 14px;
    padding: 20px;
    color: $whiteColor;
  }
}


// Circle chart
.circle-chart {
  height: 120px;
  width: 120px;
}

// Tabel
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr:hover {
      background-color: #e5e5e5;
    }

td:first-child {
  text-align: left;
  font-weight: bold;
}

.table-sales {
  font-size: 14px;

  thead {
  background-color: $bgColor;
  color: #20D1A8;
  font-weight: bold;
  border-bottom: 1px solid $greenColor;
  text-align: center;
  }

  // &__column {
  //   display: flex;
  //   flex-direction: row;
  // }
}


// Margin
.margin-top {
  &--40 {
    margin-top: 40px;
  }
}

.chart {
  padding-top: 20px;

  &__lingkaran {
    height: 250px;
    width: 250px;
  }
}

.section__donut-chart {
  display: grid;
  grid-template-columns: repeat(5 , 1fr);
  gap: 20px;

  h2 {
    grid-column: span 5;
  }
}

.progress-chart {
  height: 300px;
  width: 100%;
}

.section__progress {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  h2 {
    grid-column: span 2;
  }
}

.progress-bar {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  
  &__container {
  width: 100%;
  background-color: #f2f2f2;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: 20px;
  opacity: 0; 
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;

  &:nth-child(3n+1) .progress-bar__item {
    background-color: $greenColor;
  }
  &:nth-child(3n+2) .progress-bar__item {
    background-color: $blueColor;
  }
  &:nth-child(3n) .progress-bar__item {
    background-color: $yellowColor;
  }
  }

  &__item {
  width: 0;
  height: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  transition: width 1s ease-in-out;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
}

/* Tambahkan animasi ketika container muncul */
.progress-bar__container.animate {
  opacity: 1;
  transform: translateY(0);
}

// Footer
.footer {
  margin-left: $sidenavWidth;
  padding: 20px 40px;
  text-align: center;
}

.circular-progress{
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient($blueColor 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-progress::before{
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    border-radius: 50%;
    background-color: #fff;
}
.progress-value{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: $blueColor;
}

.coba-circle {
  position: relative;
  height: 250px;
  width: 250px;
  background-color: #e5e5e5;
  border-radius: 50%;
  // -webkit-mask:
  //   radial-gradient(circle at center, transparent 0, transparent 50%, black 50%);
  // mask:
  //   radial-gradient(circle at center, transparent 0, transparent 50%, black 50%);

    &__angka {
      background-color: #463BFB;
      position: absolute;
    }
}

.display-flex {
  display: flex;
}