* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F2F5FA;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

figcaption {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 600;
}

button {
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
}

.main {
  padding: 20px 40px;
}

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: #463BFB;
  padding: 20px 40px;
  color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidenav a {
  color: #fefefe;
}

.menu {
  list-style-type: none;
}
.menu__link {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}

.content {
  padding: 0;
  padding-left: 250px;
}

.dashboard {
  display: grid;
  grid-template-columns: auto;
  gap: 40px;
  padding: 40px;
}

.navbar {
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.user {
  display: flex;
  justify-content: center;
}
.user__avatar {
  height: 50px;
  width: 50px;
  background-color: #463BFB;
  border-radius: 50%;
  margin-left: 40px;
}
.user__avatar .fi {
  color: #fff;
}

.section {
  background-color: #fff;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 10px 2px 80px rgba(0, 0, 0, 0.1);
}
.section__title {
  margin-bottom: 20px;
}
.section__table {
  margin-top: 40px;
}
.section__stacked {
  margin-top: 20px;
  height: auto;
}
.section__circle {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__custom {
  background-color: #20D1A8;
  border-radius: 14px;
  padding: 20px;
  color: #fefefe;
}

.circle-chart {
  height: 120px;
  width: 120px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e5e5e5;
}

td:first-child {
  text-align: left;
  font-weight: bold;
}

.table-sales {
  font-size: 14px;
}
.table-sales thead {
  background-color: #F2F5FA;
  color: #20D1A8;
  font-weight: bold;
  border-bottom: 1px solid #20D1A8;
  text-align: center;
}

.margin-top--40 {
  margin-top: 40px;
}

.chart {
  padding-top: 20px;
}
.chart__lingkaran {
  height: 300px;
  width: 300px;
}

.section__donut-chart {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.section__donut-chart h2 {
  grid-column: span 5;
}

.progress-chart {
  height: 300px;
  width: 100%;
}

.section__progress {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.section__progress h2 {
  grid-column: span 2;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.progress-bar__container {
  width: 100%;
  background-color: #f2f2f2;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: 20px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.progress-bar__container:nth-child(3n+1) .progress-bar__item {
  background-color: #20D1A8;
}
.progress-bar__container:nth-child(3n+2) .progress-bar__item {
  background-color: #463BFB;
}
.progress-bar__container:nth-child(3n) .progress-bar__item {
  background-color: rgb(255, 205, 86);
}
.progress-bar__item {
  width: 0;
  height: 100%;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  transition: width 1s ease-in-out;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Tambahkan animasi ketika container muncul */
.progress-bar__container.animate {
  opacity: 1;
  transform: translateY(0);
}

.footer {
  margin-left: 250px;
  padding: 20px 40px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
